.header {
  font-family: 'Bungee', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixed position to keep the header at the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  z-index: 1000; /* Ensure it's above other content */
  gap: 15px; /* Add gap between items */
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Add margin to space out items */
}

.timer {
  background-color: #0072BC;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}

.score {
  background-color: #008B43;
  color: white;
  padding: 5px 6px;
  border-radius: 5px;
}

.round {
  background-color: #F7941D;
  color: white;
  padding: 5px 6px;
  border-radius: 5px;
}

.leave-button {
  font-family: 'Bungee', sans-serif;
  font-size: 1em;
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.leave-button:hover {
  background-color: darkred;
}
